/*------------------------------------------------------------------------------------------------*\
    Fall-Back Top Bar Combination v0.1
\*------------------------------------------------------------------------------------------------*/

// Colours:

//$fallback--top-bar--bg-color:             $fallback--nav-bar--bg-color !default;


// Breakpoints:

$fallback--top-bar--breakpoint--enhanced: $fallback--search-form--breakpoint--enhanced !default;

// Sizes:

//$fallback--top-bar__left-panel--padding:  $fallback--off-canvas__left-panel--padding !default;

/* -- Basic/fallback layout --------------------------------------------------------------------- */
    /* Nav Bar adjustments: */
    /*
        1. For IE 9.
    */
    /*.nav-bar {
        display: table; /* [1] *
        
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        /* For -moz-box: *
        width: 100%;
    }

    .nav-bar,
    .nav-bar__title-section {
        height: 40px;
        height: 4rem;
    }*/



    /* SVG adjustments: */

    .svg-logo {
        /*text-align: center;*/
        /* For -moz-box: */
        /*display: inline-block;
        vertical-align: middle;*/
    }

    /* From mixin: */ 
    .svg-logo,
    .svg-logo .svg__link,
    .svg-logo .svg__image {
      height: 32px;
    }


    /*
        Allow the fallback image to scale properly.
        1. IE6 - can be removed if unnecessary.
    */
    .svg-logo .svg__fallback-image {
      max-height: 32px;
      _height: 32px;
      /* [1] */
    }



    .svg-logo .svg__link {
        background: #fff;
        border: 1px solid #999;
        padding: 3px;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
    }

    .svg-logo .svg__link:hover,
    .svg-logo .svg__link:active,
    .svg-logo .svg__link:focus {
        background-color: #ffdd79;
    }

    /* Off Canvas adjustments: */


    .off-canvas__panel--left {
        padding:  0;
    }


    @media only screen and (max-width: ($fallback--top-bar--breakpoint--enhanced - 1)) {

        .nav-bar__title-section {
            /*vertical-align: top; /* [1] */

            -webkit-flex: 1 0 auto;
            -moz-box-flex: 1;
            -ms-flex: 1 0 auto;
            flex: 1 0 auto;
            
            text-align: center;
        }
    
        /*
            1. For IE9. Applied all IE but is acceptable.
            2. For IE9. Applied to all browsers but has no ill-effects. Basically ignored for non-IE.
            3. Reset the position for non-IE.
        */
        .off-canvas__controls--left {
            position: absolute; /* [1] */
            left: 0;            /* [2] */
            top: 0;             /* [2] */
            position: initial;  /* [3] */
        
            -webkit-flex: 0 0 auto;
            -moz-box-flex: 0;
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
            
            -webkit-order: -1;
            -moz-box-ordinal-group: 0;
            -ms-flex-order: -1;
            order: -1;
        }
        
        /*
            1. For IE9. Applied all IE but is acceptable.
            2. For IE9. Applied to all browsers but has no ill-effects. Basically ignored for non-IE.
            3. Reset the position for non-IE.
        */
        .off-canvas__controls--right {
            position: absolute; /* [1] */
            right: 0;           /* [2] */
            top: 0;             /* [2] */
            position: initial;  /* [3] */
        
            -webkit-flex: 0 0 auto;
            -moz-box-flex: 0;
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        }
    }


/* -- Enhanced layout --------------------------------------------------------------------------- */
    /*@media only screen and (max-width: ($fallback--search-form--breakpoint--enhanced - 1)) {

    }*/
    
    /*@media only screen and (min-width: $fallback--search-form--breakpoint--enhanced) {
    
    }*/

/* ---------------------------------------------------------------------------------------------- */