/*------------------------------------------------------------------------------------------------*\
    Fall-Back Top Bar Combination v0.1
\*------------------------------------------------------------------------------------------------*/

// Colours:

//$fallback--top-bar--bg-color:             $fallback--nav-bar--bg-color !default;


// Breakpoints:

$fallback--top-bar--breakpoint--enhanced: $fallback--search-form--breakpoint--enhanced !default;

// Sizes:

//$fallback--top-bar__left-panel--padding:  $fallback--off-canvas__left-panel--padding !default;

/* -- Basic/fallback layout --------------------------------------------------------------------- */

    /* SVG adjustments: */
    /* Off Canvas adjustments: */
    /* Nav Bar adjustments: */
    
    /*
        NOTE: the above have all been re-factored out into their respective parent patterns or moved
        to the site-specific file for now.
        Need to find a tidier/smarter way of configuring this combination-pattern to make sure all
        problems are solved in THIS or parent pattern files without being too specific to the
        example.
    */
    
    /*
        1. For IE 9.
        2. For -moz-box.
    */
    .off-canvas .nav-bar {    
        display: table; /* [1] */
    
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;

        width: 100%; /* [2] */
    }

    @media only screen and (max-width: ($fallback--top-bar--breakpoint--enhanced - 1)) {
        /*
            Position the title section in the middle of the top-bar:
        */
        .off-canvas .nav-bar__title-section {
            /*vertical-align: top; /* [1] */

            -webkit-flex: 1 0 auto;
            -moz-box-flex: 1;
            -ms-flex: 1 0 auto;
            flex: 1 0 auto;
            
            text-align: center;
        }
    
        /*
            Position the off-canvas controls to the far left/right:
            
            1. For IE9. Applied to all IE but is acceptable.
            2. For IE9. Applied to all browsers but has no ill-effects. Basically ignored for non-IE.
            3. Reset the position for non-IE.
        */
        .off-canvas__controls--left {
            position: absolute; /* [1] */
            left: 0;            /* [2] */
            top: 0;             /* [2] */
            position: initial;  /* [3] */
        
            -webkit-flex: 0 0 auto;
            -moz-box-flex: 0;
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
            
            -webkit-order: -1;
            -moz-box-ordinal-group: 0;
            -ms-flex-order: -1;
            order: -1;
        }
        
        /*
            1. For IE9. Applied all IE but is acceptable.
            2. For IE9. Applied to all browsers but has no ill-effects. Basically ignored for non-IE.
            3. Reset the position for non-IE.
        */
        .off-canvas__controls--right {
            position: absolute; /* [1] */
            right: 0;           /* [2] */
            top: 0;             /* [2] */
            position: initial;  /* [3] */
        
            -webkit-flex: 0 0 auto;
            -moz-box-flex: 0;
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        }
    }


/* -- Enhanced layout --------------------------------------------------------------------------- */
    /*@media only screen and (max-width: ($fallback--search-form--breakpoint--enhanced - 1)) {

    }*/
    
    /*@media only screen and (min-width: $fallback--search-form--breakpoint--enhanced) {
    
    }*/

/* ---------------------------------------------------------------------------------------------- */